.icon-Camera:before {
  content: "\e914";
}
.icon-Checked .path1:before {
  content: "\e915";
  color: rgb(254, 153, 0);
}
.icon-Checked .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-UploadFile:before {
  content: "\e917";
}
.icon-AccountType:before {
  content: "\e911";
  color: #797c7f;
}
.icon-BasicInfo:before {
  content: "\e912";
  color: #797c7f;
}
.icon-EmailVerification:before {
  content: "\e913";
  color: #797c7f;
}
.icon-AccountSettings:before {
  content: "\e900";
}
.icon-Alphabets:before {
  content: "\e901";
  color: #9d9fa2;
}
.icon-Cancel:before {
  content: "\e902";
}
.icon-Dashboard:before {
  content: "\e903";
}
.icon-DigitalWallet:before {
  content: "\e904";
}
.icon-DocumentClaim:before {
  content: "\e905";
}
.icon-DownArrow:before {
  content: "\e906";
}
.icon-HospitalList:before {
  content: "\e907";
}
.icon-Info:before {
  content: "\e908";
}
.icon-LeftArrow:before {
  content: "\e909";
}
.icon-LogOut:before {
  content: "\e90a";
}
.icon-MoreVertical:before {
  content: "\e90b";
}
.icon-Numeric:before {
  content: "\e90c";
  color: #9d9fa2;
}
.icon-Password:before {
  content: "\e90d";
  color: #9d9fa2;
}
.icon-Policy:before {
  content: "\e90e";
}
.icon-RightArrow:before {
  content: "\e90f";
}
.icon-SpecialCharacters:before {
  content: "\e910";
  color: #9d9fa2;
}
